{% extends 'starter-page.html' %}

{% load static %}

{% block content %}
    <h1 class="text-center">Contacts</h1>

     <table class="table table-success container ">
     <tr>
         <th>Name</th>
         <th>Email</th>
         <th>Subject</th>
         <th>Message</th>
         <th>Action</th>


     </tr>

     {% for contacts in allcontacts  %}
         <tr>

         <td>{{ contacts.name }}</td>
         <td>{{ contacts.email }}</td>
         <td>{{ contacts.subject }}</td>
         <td>{{ contacts.message }}</td>
         <td>
                 <a href="" class="btn btn-outline-primary">Edit</a>
                 <a href="/deletecontact/{{ contacts.id }}" class="btn btn-outline-danger">Delete</a>

             </td>


         </tr>



     {% endfor %}

     </table>


{% endblock %}